# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\浏览器下载\loveSource-master (1)\loveSource-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
